.main-header{
    display: flex;
    justify-content: space-between;
}

.main-logo{
    height: 50px;
    width: 50px;
    background-image: url(../assets/sabir.png);
    border-radius: 50%;
    background-size: contain;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
}

nav > a{
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 8px;
}

.banner-image {
    height: 500px;
    background-image: url(../assets/hallo.jpg);
    background-size: cover;
    background-position: center;
}

main>section {
    height: 800px;    
}

.beranda-section {
    font-family: system-ui;
    font-style: italic;
}

.article-content {
    text-align: center;
}

footer {
    text-align: center;
}


body {
    background-color: azure;
}