.main-header{
    display: flex;
    justify-content: space-between;
}

.main-logo{
    height: 50px;
    width: 50px;
    background-image: url(../assets/sabir.png);
    border-radius: 50%;
    background-size: contain;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
}

nav > a{
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 8px;
}

.banner-image {
    height: 500px;
    background-image: url(../assets/panorama_1.jpg);
    background-size: cover;
    background-position: center;
}

main>section {
    height: 800px;    
}

.beranda-section {
    font-family: system-ui;
    font-style: italic;
}

.article-content {
    text-align: center;
}

footer {
    text-align: center;
}

body {
    background-color: azure;
}

.foto-manajemen-section {
    display: flex;
    justify-content: space-around;
}

.foto-pembina {
    border: 3px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(../assets/M.\ Fauzi.png);
    background-size: cover;
    background-position: top;
    background-color: rgb(7, 70, 179);
    border-color: white;
}

.foto-pengurus {
    border: 3px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(../assets/SULAIMAN_pasfoto4x6.png);
    background-size: cover;
    background-position: top;
    background-color: rgb(7, 70, 179);
    border-color: white;
}

.foto-direktur {
    border: 3px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(../assets/Eti\ Mukhlesi\ Yeni.png);
    background-size: cover;
    background-position: top;
    background-color: rgb(7, 70, 179);
    border-color: white;
}

.foto-kepsek-smp {
    border: 3px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(../assets/Sari\ Dewi.png);
    background-size: cover;
    background-position: top;
    background-color: rgb(7, 70, 179);
    border-color: white;
}

.foto-kepsek-sd {
    border: 3px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(../assets/Yusnidar.png);
    background-size: cover;
    background-position: top;
    background-color: rgb(7, 70, 179);
    border-color: white;
}

.foto-kepsek-tk {
    border: 3px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(../assets/FITRIANI.png);
    background-size: cover;
    background-position: top;
    background-color: rgb(7, 70, 179);
    border-color: white;
}